/* Estilos para el contenedor de carga */
.loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo translúcido */
}

.logo {
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
}

.loading-text {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: Arial, sans-serif;
}
