@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mt-20 {
  margin-top: 80px; /* Ajusta este valor según la altura de tu Header */
}

section {
  padding-top: 0; /* Eliminar padding innecesario */
}

@media (max-width: 640px) {
  section {
    padding-top: 0; /* También eliminar en pantallas pequeñas */
  }
}
.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; /* Asegura que el header esté por encima de otros elementos */
  height: 80px;  /* Asegúrate de que la altura sea la misma que el padding-top */
}
@keyframes fallAnimation {
  0% {
    transform: translateY(-100px) rotate(0deg);
    opacity: 0.8;
  }
  100% {
    transform: translateY(100vh) rotate(720deg);
    opacity: 0; /* Las imágenes desaparecen mientras caen */
  }
}

.falling-logo {
  position: absolute;
  top: -100px; /* Comienza fuera de la pantalla */
  animation: fallAnimation 6s infinite linear;
  z-index: -1; /* Asegúrate de que las imágenes caigan detrás del contenido */
}

.falling-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  z-index: -2;
}
